.buttons-ic {
  width: 90px;
  height: 50px;
  border: none;
  background-color: transparent;
  margin-left: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.button-reset {
  background-image: url("https://s1.iconbird.com/ico/2013/9/452/w448h5121380477116trash.png");
}

.buttons-ic:hover {
  box-shadow: 1px 1px 1px 1px gray;
}

.button-edit {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1827/1827951.png");
}

